.wrapper1 { /* style design for header */
  margin: 0px;
  width: normalize;
  height: 120px;
  background-color: #373531;
  text-align: center;
  color: #eee9df;
  padding: 10px;
}

h1 { /* style design for name */
  font-family: cursive;
  font-size: 58px;
  margin: 10px 0px 0px 0px;
}

h2 { /* style design for /* style design for work position */
  font-size: 16px;
  font-family: Times 'Times New Roman', Times, serif;
  margin: 0px;
}

.wrapper2 { /* style design for body and article */
  padding: 50px 30%;
  align-content: center;
  text-align: center;
  background-color: #eee9df;
  color: #373531;
}

footer { /* style design for footer */
  height: normalize;
  width: normalize;
  background-color: #373531;
  text-align: center;
  color: #eee9df;
  padding: 10px;
}

.unordered { /* style design to center unordered list */
  padding: 0px 30%; 
  text-align: left;
}

.ordered { /* style design to center ordered list */
  padding: 0px 41.5%;
}

/* style design of all links on site */
a:link    { color: blue;}
a:visited { color: blueviolet;}
a:hover   { color: red;}
a:active  { color: black;}




